@model DetailsTagVM

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tag Info</h4>

                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" disabled class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                  
                    <a asp-action="index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>

</div>
